/* Font Definitions */

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Regular.ttf");
}

body {
    font-family: "Montserrat", sans-serif;
    color:#ffffff;
    font-size:2.5vh;
    -webkit-text-size-adjust: none;
 margin: 5vw;
    background-color: #252525;
     text-align:left
}
div {
    font-family: "Montserrat", sans-serif;
    font-size:2.5vh;
}

 a { color: #FFFFFF; }

